:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --link-color: #2196f3;
  --background-color: #2f303a;
  --white-color: #ffffff;
  --subbackground-color: #f5f4fa;
  --border-color: #ececec;
}

body {
  font-family: Roboto;
  color: var(--main-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-color);
  text-decoration: none;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.span-header,
.span-footer {
  color: var(--link-color);
  font-size: 26px;
}

.link-main-list,
.hero-list,
.list-footer,
.section-list,
.section-hero-list,
.list-team,
.group,
.list,
.section-list-logo {
  list-style-type: none;
}

.link-main,
.link-submain,
.link-subsubmain {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  top: 32px;

  padding: 32px 0px 32px 0px;
}

.link-main,
.link-submain,
.link-subsubmain {
  color: var(--main-color);
}

.sublink,
.link {
  color: var(--secondary-color);
  padding: 32px 0px 32px 0px;
}

.link,
.sublink {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0ch;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: var(--link-color);
  color: var(--white-color);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
}

.section-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  margin-bottom: 4px;
}

.section-text {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color);
}

.section-link {
  text-decoration: none;
}

.link-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.link-map,
.link-mail,
.link-tel {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-map {
  color: hwb(0 100% 0%);
}

.link-mail,
.link-tel {
  color: rgba(255, 255, 255, 0.6);
}

.section-hero-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);

  margin-bottom: 10px;
}

.section-hero-text {
  line-height: 1.71;
  color: var(--secondary-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-color);
  text-align: center;

  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
}

.hero-main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  width: 696px;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.link-main:focus,
.link-main:hover,
.link-submain:focus,
.link-submain:hover,
.link-subsubmain:hover,
.link-subsubmain:focus,
.link:hover,
.link:focus,
.sublink:hover,
.sublink:focus,
.link-map:hover,
.link-map:focus,
.link-tel:focus,
.link-tel:hover,
.link-mail:focus,
.link-mail:hover {
  color: var(--link-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-hero-btn:focus,
.portfolio-hero-btn:hover {
  color: var(--white-color);
  background-color: var(--link-color);
}

/* Настройки */

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  justify-content: center;
}

.container,
.container-nav {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Настройки */

/* Хедер */

.container-nav {
  display: flex;
}

.link-main-list,
.nav {
  display: flex;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link-main,
.link-submain,
.link {
  margin-right: 50px;
}

.current {
  color: var(--link-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
  flex-direction: column;
}

/* Хедер */

/* 1 секция */

.section-hero {
  padding: 200px 0px;
  background: var(--background-color);
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* 1 секция */

/* Футер */

.footer {
  padding: 60px 0 60px 0;
  background: var(--background-color);
}

.contacts-adress {
  margin-top: 20px;
}

.list-item-map,
.list-item-mail {
  margin-bottom: 9px;
}

/* Футер */

/* 2 секция */

/* 2 секция */

.section-logo {
  padding-top: 0;
}

.img-notebook {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 4 секция */

.list-team,
.list,
.section-hero-list {
  display: flex;
  gap: 30px;
}

.team-name,
.team-position {
  text-align: center;
  margin-bottom: 10px;
}

.team-position,
.img-foto {
  margin-bottom: 30px;
}

.section-team {
  background-color: var(--subbackground-color);
}

.list-item-team {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* 4 секция */

/* Портфолио */

.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 0ch;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--subbackground-color);
  margin-right: 8px;
  padding: 6px 22px 6px 22px;
}

.portfolio-hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 0ch;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--subbackground-color);
  margin-right: 8px;
  padding: 6px 25px 6px 25px;
}

.card {
  background: var(--white-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 20px 24px;
}

.section-item-logo-orlean {
  border: 1px solid var(--border-color);
}
.section-list-logo {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  gap: 30px;
}

.card-orlean {
  padding: 20px 24px;
}

.section-img {
  display: block;
  max-width: 100%;
  height: auto;
}
